<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li><input type="checkbox" <%= task["completed"] ? "checked" : nil %>
      >
      <%= link_to task["title"], task_path(task) %>
      <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %></li>
    <% end %>
</ul>
<p> <%= link_to "add new task", new_task_path %></p>
